.prch2-label.prch2-type-checkbox span.prch2-holder {
	height: 100px;
	background: url(../images/checkbox.png) 0 -0px no-repeat; 
}
.prch2-label.prch2-type-radio span.prch2-holder {
	height: 100px;
	background: url(../images/radio.png) 0 -1px no-repeat;
}
.prch2-label.prch2-type-checkbox:hover span.prch2-holder, 
.prch2-label.prch2-type-radio:hover span.prch2-holder {
	top: -33px !important;
}
.prch2-label.prch2-checked span.prch2-holder, 
.prch2-label.prch2-checked:hover span.prch2-holder {
	top: -66px !important;
}
.prch2-label.prch2-list {
	float: left;
	clear: left;
	margin: 0 0 5px 0;
}
.prch2-label.prch2-inline {
	float: left;
	margin: 0 10px 0 -5px;
	line-height: 28px;
	font-size: 15px;
	color: #4e4e4e;
	font-weight: 100;
}
.prch2-hidden {
	position: absolute;
	left: -10000px;
}
/* defaiult class prch2 */
.prch2-label.prch2 span.prch2-holderWrap {
	display: block;
	float: left;
	position: relative;
	margin-top: -1px;
	margin-right: 8px;
	overflow: hidden;
}
.prch2-label.prch2 span.prch2-holder {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}
