.grisel-popup-domplus {
}
.grisel-wrapper-wide1 {
position: static;
}
.grisel-popup-wide1  {
right: 20px;
left: 20px;
top: auto;
margin-top: -32px;
width: auto;
}

.grisel-select {
width: 245px;
height: 32px;
}
